
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');


*{
margin: 0;
padding: 0;
font-family: 'Londrina Solid', cursive;;
}
*::selection {

  background:  #460101;
}
h1{
  font-size: 7rem;
}
h2{
  font-size: 2rem;
}

p{
  font-size: 1.2rem;
  letter-spacing: 5px;
  line-height: 10vh;

}
.App {
  text-align: center;
  background-color: #8A0303;
  height: 100vh;
  line-height: 15vh;
  padding: 30px;        
  
}

.btn {
  height: 4rem;
  width: 15rem;
  margin-left: 10px;
  background-color: black;
  color: #8A0303;
  border:none;
  border: 3px #440101 solid;
  font-size: 1.4rem;
  font-family: 'Londrina Solid', cursive;;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}

.btn:hover {
  height: 5rem;
  width: 17rem;

  border: 5px black solid;
  font-size: 1.4rem;
}


.App-link {
  color: #61dafb;
}


.swal2-show {
  background-color: black !important;
}

.swal2-confirm {
  background-color:#820505 !important;
}

.letters{
  height: 70px;
  width: 70px;
  font-size: 2rem;
  background-color: transparent;
  border : 3px black solid;
  margin-left: 3px;
  transition:all;
  cursor: pointer;
  transition-duration: 0.5s;
}


.letters:hover{
  height: 80px;
  width: 80px;
  font-size: 2rem;
  
  background-color: black;
  color:white;

}


#underscored{
  line-height:2vh;
  font-size: 3rem;
  letter-spacing: 10px;
}

#counter{
  text-align: left;
  position: absolute;
  top: 7%;
  left: 10%;
}